/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

@import './reset.css';
:root {
  --serif: 'Eczar';
  --sans: 'Open Sans';
  --dark: #333333;
  --darker: #222222;
  --light: #ebebeb;
  --accent: #543889;
  --yellow: #ffc41d;
  --red: #ea3939;
  --purple: #543889;
  --aqua: #00b3c6;
  --dark--1: #526066;
  --dark--2: #46565b;
  --dark--3: #728288;
  --dark--4: #909da2;
  --dark--5: #acb6b9;
  --dark--6: #c8ced0;
  --hover: var(--darker);
  --foreground: var(--dark);
  --background: var(--light);
  --shadow: var(--accent);
  /* RELATIVE SIZE STEPS */
  --step--3: clamp(0.42rem, 0.33rem + 0.43vw, 0.63rem);
  --step--2: clamp(0.56rem, 0.44rem + 0.57vw, 0.84rem);
  --step--1: clamp(0.75rem, 0.58rem + 0.76vw, 1.13rem);
  --step-0: clamp(1rem, 0.78rem + 1.01vw, 1.5rem);
  --step-1: clamp(1.33rem, 1.04rem + 1.35vw, 2rem);
  --step-2: clamp(1.78rem, 1.38rem + 1.8vw, 2.67rem);
  --step-3: clamp(2.37rem, 1.84rem + 2.4vw, 3.55rem);
  --step-4: clamp(3.16rem, 2.46rem + 3.2vw, 4.74rem);
  --step-5: clamp(4.21rem, 3.28rem + 4.26vw, 6.31rem);
  --step-6: clamp(5.61rem, 4.37rem + 5.68vw, 8.42rem);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--step-0);
  font-family: var(--sans);
  color: var(--dark);
}

main {
  margin: 0 auto;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--step-1);
  font-family: var(--sans);
}

::-moz-selection,
::selection {
  color: var(--dark);
  background: var(--red);
}

h1,
h2,
h3,
h4 {
  font-family: var(--sans);
}

a {
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  border: 1px solid var(--dark);
}

input {
  padding: 0.5rem;
}

.link-button,
button,
input[type='submit'] {
  display: flex;
  justify-content: center;
  background-color: #333333;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  font-family: var(--sans);
  font-size: inherit;
  font-weight: 600;
  letter-spacing: 0.125em;
  text-align: center;
  border-radius: 0.5em;
  cursor: pointer;
}

.link-button:hover,
button:hover,
input[type='submit']:hover {
  background-color: #222222;
}

.invalid {
  border: 1px solid tomato;
  background: rgb(255, 220, 214);
}

.validation-error {
  color: tomato;
}

.center-container {
  width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--step-0);
}

.center-block {
  display: block;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-title {
  font-family: var(--sans);
  font-size: var(--step-1);
  font-weight: 600;
}

.svg-shadow {
  opacity: 0.3;
  fill: #000;
}

@media (min-width: 1280px) {
  main {
    max-width: 70%;
  }
}
